.parent {
    margin: auto;
    text-align: center;
    /* width: 50%; */
}

.invalid {
    border: 2px solid red;
}

.comic-panel {
    font-family: "CustomFont", sans-serif;
}

.page-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.comic-panel-item {
    margin: 10px;
    text-align: center;
    width: 45%;
    position: relative;
}

.comic-image {
    border: 3px solid #4caf50;
    border-radius: 5px;
    background-color: white; /* Image background color */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Image box shadow */
    width: 100%;
}

.speech-bubble {
    background-color: #fff;
    color: #000;
    padding: 10px;
    border: 2px solid #4caf50;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 14px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    max-width: 600px;
    margin: 0 auto;
}

.query-input {
    grid-column: span 1;
    margin-bottom: 20px;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    /* outline: none; */
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #b5b5b5;
}

input:focus {
    outline: 3px solid #4caf50;
}

.button-container {
    grid-column: span 2;
    text-align: center;
}

.fetch-button {
    background-color: #4caf50;
    color: white;
    margin-right: 20px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.reset-button {
    background-color: #e81123;
    color: white;
    padding: 10px 20px;
    margin-left: 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.project-description {
    margin-bottom: 20px;
    padding: 15px;
    font-family: "CustomFont", sans-serif;
    text-transform: uppercase;
    font-size: 1.5rem;
    background: url('data:image/svg+xml;utf8,<svg width="100" height="100" transform="rotate(25)" opacity="0.8" version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><g  fill="%23d68810"><circle cx="25" cy="25" r="12.5"/><circle cx="75" cy="75" r="12.5"/><circle cx="75" cy="25" r="12.5"/><circle cx="25" cy="75" r="12.5"/></g></svg>'),
        #ffcd28;
    background-size: 13px, 100%;
    font-weight: 700;
    border: 0.4rem solid #000;
    border-radius: 5px;
}

.project-description p {
    margin: 0;
    color: #333;
}
